@import "tailwindcss";

@theme {
  --color-light: #f1f0f1;
  --color-dark: #23272d;

  --font-poppins: "Poppins", sans-serif;
}

/* Configure dark mode variant for Tailwind v4 */
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;

  body {
    font-family: var(--font-poppins);
    background: var(--color-light);
    font-size: 1rem;
  }
}

html.dark body {
  background: var(--color-dark);
}
